*{
   
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
    font-family:'Times New Roman', Times, serif
    
}
h1{
    text-align: center;
    
}

.links{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    border: 3px ;

}
.images{
    border: 3px solid rgb(119, 116, 116);
    border-radius: 5px;

}

.links:hover{
    color: grey;
    transform: scale(1.2);
}

.images:hover{
    transform: scale(1.05);
}